html {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: none;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

#header-main {
  color: orange;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 8vw;
  vertical-align: center;
  text-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.icons {
  width: 100%;
  margin-top:5vw;
}

#calendar-icon {
  max-width: 8vw;
  max-height: 8vw;
  border-radius:75%;
  background-color: white;
  margin-left:30vw;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

#calendar-icon:hover, #calendar-icon:focus #calendar-icon:active {
  transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2); /* IE 9 just in case you have a chrome extension running on internet explorer */
  -webkit-transform: scale(1.2, 1.2);
}

#timetable-icon {
  max-width: 8vw;
  max-height: 8vw;
  border-radius:75%;
  background-color: white;
  margin-left:7.5vw;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

#timetable-icon:hover, #timetable-icon:focus, #timetable-icon:active{
  transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2); /* IE 9 */
  -webkit-transform: scale(1.2, 1.2);
}

#links-icon {
  max-width: 8vw;
  max-height: 8vw;
  border-radius:75%;
  margin-left:7.5vw;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

#links-icon:hover, #links-icon:focus, #links-icon:active {
    transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2); /* IE 9 */
    -webkit-transform: scale(1.2, 1.2);
}

.general-modal {
  display:none;
  z-index: 2; /* Sit on top */
  position:absolute;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
  padding-top:0;
  margin-top:0;
  /*this is pretty much w3 school's extension because we used so much of their code*/
}

.modal-content {
    background-color: #fefefe;
    margin: 2% auto; /* 2% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height:auto;
    border-radius:25px;
    z-index:1;
    overflow:auto;
}

#calendar-modal__iframe {
  margin:auto;
  font-family:"Lato";
  display:inline;
  width:65%;
  /*This literally does nothing, I'm so sorry you had to see this*/
}

.info {
  font-family:"Lato";
  font-weight:bold;
  font-size:1vw;
  word-break:break-word;
}

#calendar-modal__info {
  float:right;
  right:0;
  display:block;
  clear:both;
}

#clock {
  margin:auto;
  font-family:"Lato";
  color:orange;
  font-size: 4vw;
  text-align: center;
  text-shadow: 0 0 25px rgba(0,0,0,0.7);
  margin-bottom:2.5vw;
}

#linksh {
  font-family: "Lato";
  font-size:3vw;
  margin-left:2vw;
}
#links-modal__sublinks {
  font-family: "Lato";
  font-size:1.5vw;
  margin-left:2vw;
}

#modal-content__sjam-website-link {
  font-weight:bolder;
  font-family: "Lato";
  color:black;
  text-decoration:none;
}
#modal-content__sjam-website-link:hover{
  text-decoration:underline;
  color:blue;
}

.links-modal__links {
  font-family: "Lato";
  font-size:1vw;
  color:white;
  text-decoration:none;
  margin:auto;
}

.links-modal__link-buttons {
  padding:1vw;
  vertical-align: middle;
  background-color:orange;
  overflow: hidden;
  border:none;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  margin-left:2vw;
  width:10vw;
  font-family:"Lato";
  color:white;
  text-align:center;
  cursor:pointer;
}
.links-modal__link-buttons:hover, .links-modal__link-buttons:focus, .links-modal__link-buttons:active {
  background-color: #2098D1;
  color: white;
}

#linksinfo {
  margin-left:2vw;
}

#hide-all {
  pointer-events: none;
  animation: fadeout 2.5s;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: white;
  z-index: 100000000000;
  opacity:0;
  display:block;
}
 
@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}
 
#loading {
  font-family:"Lato";
  font-size:3vw;
  margin:auto;
  margin-top:50%;
  text-align:center;
  vertical-align:middle;
  content:"ok";
}

#bottom{
  position:absolute;
  bottom:0;
  font-family:"Lato";
  color:white;
  text-shadow:0 0 25px rgba(0,0,0,0.2);
}

.calendar-modal__buttons {
  padding:0.5vw;
  background-color:orange;
  border:none;
  float:right;
  color:white;
  margin-top:0.5vw;
  margin-right:0.5vw;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  clear:both;
}

.calendar-modal__buttons:hover, .calendar-modal__buttons:focus, .calendar-modal__buttons:active {
  background-color: #2098D1;
  color: white;
}

#timetable-modal__timetable{
  font-family:"Lato";
  font-size:2vw;
  text-align:center;
  padding:2vw;
  overflow:auto;
  table-layout:fixed;
  display:inline-table;
}

th, td {
  padding: 2vw;
}

#timeinfo {
  float:left;
  top:0;
}

#notif-box{
  height:15%;
  width:20%;
  border-radius:15px;
  background-color:rgba(64,64,64,0.7);
  text-shadow:0 0 25px rgba(255,255,255,1);
  float: right;
  display:inline-block;
  text-align:center;
}

#notif-container {
  height:60%;
  margin:auto;
  displaY:inline-block;
  vertical-align:middle;
  margin-top:7.5%;
}

#notif-img{
  height:100%;
  border-radius:10px;
  vertical-align:middle;
  display:inline-block;
}

#notif-txt {
  font-family:"Lato";
  color:white;
  word-break:break-word;
  float:right;
  vertical-align:middle;
  display:inline-block;
  text-align:center;
  margin-top:10%;
  padding-left:5%;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}